## Notes

In [1]:
a = 10
print(type(a))

<class 'int'>

In [2]:
l = [1, 2, 3]
print(type(l))

<class 'list'>

In [3]:
class Student :
    pass

s1 = Student()
s2 = Student()
s3 = Student()

In [4]:
s1.name = "Mohit" #in java cpp, s1.name can be accessed only when its an att of obj but in python this way we are creating a new attr (on the fly)
s1.age = 20

In [5]:
s2.rollNumber = 101

In [6]:
s3.age = 21

In [7]:
print(s1.__dict__)
print(s2.__dict__)
print(s3.__dict__)

{'name': 'Mohit', 'age': 20}
{'rollNumber': 101}
{'age': 21}

In [8]:
s4 = Student()
print(s4.__dict__)

{}

print(s1.name)
print(s2.name)

In [9]:
print(hasattr(s1, 'name'))
print(hasattr(s2, 'name'))

True
False

In [10]:
print(getattr(s1, 'name'))
print(getattr(s2, 'name','test'))

Mohit
test

In [11]:
delattr(s1, 'name')
print(s1.__dict__)

{'age': 20}

### Class Attributes

In [12]:
class Student1 :
    pass

o1 = Student1()
o2 = Student1()
o3 = Student1()

In [13]:
Student1.totalStudents=20
print(Student1.__dict__)

{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'Student1' objects>, '__weakref__': <attribute '__weakref__' of 'Student1' objects>, '__doc__': None, 'totalStudents': 20}

In [14]:
print(Student1.__dict__)

{'__module__': '__main__', '__dict__': <attribute '__dict__' of 'Student1' objects>, '__weakref__': <attribute '__weakref__' of 'Student1' objects>, '__doc__': None, 'totalStudents': 20}

In [15]:
print(o1.__dict__)
print(o2.__dict__)

{}
{}

In [16]:
#can access class attr using class name as well as obj name
print(Student1.totalStudents)
print(o1.totalStudents)
print(o2.totalStudents)

20
20
20

In [17]:
print(o1.__dict__)
print(o2.__dict__)
#can access class attr using obj but still the

{}
{}

In [18]:
Student1.totalStudents = 30

In [19]:
print(Student1.totalStudents)
print(o1.totalStudents)
print(o2.totalStudents)

30
30
30

In [20]:
o1.totalStudents = 40

In [21]:
print(Student1.totalStudents)
print(o1.totalStudents)
print(o2.totalStudents)

30
40
30

In [22]:
print(o1.__dict__)
print(o2.__dict__)

{'totalStudents': 40}
{}

## Methods

## Instance Methods

In [23]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    ## Instance methods
    def printHello(self) : 
        print("Hello")
        
    def print(self, str) :
        print(str)
        
    def printName(self) : 
        name = 'abc'
        print(self.name) 
        print(name)
        
s1 = Student()
s2 = Student()

In [24]:
s1.name = 'Mohit'

In [25]:
s1.printName()

Mohit
abc

In [26]:
s1.printHello()
s1.print("Hi")

Hello
Hi

In [27]:
Student.printHello(s1)

Hello

In [28]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    ## Instance methods
    def printHello(self) : 
        print("Hello")
        
    def print(self, str) :
        print(str)
        
    def printName(self) : 
        print(self.name)
        
    def addName(self, name) :
        self.name = name
    
    def test(self) :
        Student.totalStudents = 25
        print(Student.totalStudents)
        Student.test_class = 90
    
s1 = Student()
s2 = Student()

In [29]:
s1.test()
print(Student.__dict__)

25
{'__module__': '__main__', 'totalStudents': 25, 'classTeacherName': 'Komal', 'printHello': <function Student.printHello at 0x055675C8>, 'print': <function Student.print at 0x05567EC8>, 'printName': <function Student.printName at 0x05567A48>, 'addName': <function Student.addName at 0x05567BB0>, 'test': <function Student.test at 0x05567610>, '__dict__': <attribute '__dict__' of 'Student' objects>, '__weakref__': <attribute '__weakref__' of 'Student' objects>, '__doc__': None, 'test_class': 90}

In [30]:
print(s1.__dict__)
print(s2.__dict__)

{}
{}

In [31]:
s1.addName('Mohit')
print(s1.__dict__)
print(s2.__dict__)

{'name': 'Mohit'}
{}

In [32]:
s1.addName('Aman')
print(s1.__dict__)
print(s2.__dict__)

{'name': 'Aman'}
{}

In [33]:
s2.printName()

AttributeError: 'Student' object has no attribute 'name'

## Constructor

In [36]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    
    def __init__(self, name,age ,rn) :
        self.name = name
        self.age = age
        self.rollNumber = rn
        
    
    ## Instance methods
    
    def print(self, str) :
        print(str)
        
    def printName(self) : 
        print(self.name)
        
    def addName(self, name) :
        self.name = name
    
    def test(self) :
        Student.totalStudents = 25
        print(Student.totalStudents)
        Student.test_class = 90
    
s1 = Student('Mohit', 20, 101)
s2 = Student('Aman', 21, 102)
s3 = Student('Nikhil', 23,56)

In [37]:
print(s1.__dict__)
print(s2.__dict__)
print(s3.__dict__)

{'name': 'Mohit', 'age': 20, 'rollNumber': 101}
{'name': 'Aman', 'age': 21, 'rollNumber': 102}
{'name': 'Nikhil', 'age': 23, 'rollNumber': 56}

In [61]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    
    def __init__(self,*args) :
        self.list=args
#         self.name = args[0]
#         self.age = args[1]
#         self.rollNumber = args[2]
        
    
    
    ## Instance methods
    
    def print(self, str) :
        print(str)
        
    def printName(self) : 
        print(self.name)
        
    def addName(self, name) :
        self.name = name
    
    def test(self) :
        Student.totalStudents = 25
        print(Student.totalStudents)
        Student.test_class = 90
    
s1 = Student('Mohit', 20, 101)
s2 = Student('Aman', 21, 102)
s3 = Student('Nikhil', 23)

In [62]:
print(s1.__dict__)
print(s2.__dict__)
print(s3.__dict__)

{'list': ('Mohit', 20, 101)}
{'list': ('Aman', 21, 102)}
{'list': ('Nikhil', 23)}

In [38]:
class change:
     def __init__(self, x, y, z):
          self.a = x + y + z
x = change(1,2,3)
y = getattr(x, 'a')
setattr(x, 'a', y+1)
print(x.a)

7

In [43]:
class Student:

    def __init__(self,name,age):
        self.name = 'Rohan'
        self.age = 20

    def print_student_details(self):
        print(self.name, end= ' ')
        print(self.age)


s = Student(20,20)
s.print_student_details()

Rohan 20

## Access Modifiers

In [45]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    
    def __init__(self, name, age, rn = 101) :
        self.__name = name #private
        self.age = age
        self.rollNumber = rn
        
    def getName(self) :
        return self.__name
    
    def setName(self, name) :
        self.__name = name
    
s1 = Student('Mohit', 20, 101)
s2 = Student('Aman', 21, 102)
s3 = Student('Nikhil', 23)

In [47]:
print(s1.getName(), s1.age, s1.rollNumber)
s1.setName('')
print(s1.getName(), s1.age, s1.rollNumber)

Mohit 20 101
 20 101

In [48]:
print(s1.__dict__)
print(s2.__dict__)
print(s3.__dict__)

{'_Student__name': '', 'age': 20, 'rollNumber': 101}
{'_Student__name': 'Aman', 'age': 21, 'rollNumber': 102}
{'_Student__name': 'Nikhil', 'age': 23, 'rollNumber': 101}

In [59]:
class Student :
    ## Class attributes
    totalStudents = 20
    classTeacherName = 'Komal'
    
    
    def __init__(self, name, age, rn = 101) :
        self.__name = name
        self.age = age
        self.rollNumber = rn
        
    def getName(self) :
        return self.__name
    
    def setName(self, name,password):
        if password != 123 :
            return
        if name == '' :
            return
        self.__name = name
    
s1 = Student('Mohit', 20, 101)
s2 = Student('Aman', 21, 102)
s3 = Student('Nikhil', 23)

In [60]:
#name mangling
print(s1._Student__name)

Mohit

In [57]:
class A:
    def __init__(self):
        self.x = 1
        self.__y = 1
    def getY(self):
        return self.__y
a = A()
a.__y = 45
print(a.getY())

1

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.
n=int(input())
arr=[int(i) for i in input().split()]
L=len(arr)
lead=arr[n-1]

for i in range(n-2,0,-1):
    if arr[i]>lead:
        lead=arr[i]
for k in range(lead,L):
    print(k,end=' ')